@font-face {
  font-family: "CMU-Roman";
  src:
    url("../public/assets/fonts/cmu.serif-roman.woff2") format("woff2"),
    url("../public/assets/fonts/cmu.serif-roman.ttf") format("truetype");
}

@font-face {
  font-family: "CMU-Typewriter";
  src:
    url("../public/assets/fonts/cmu.typewriter-text-regular.woff2")
      format("woff2"),
    url("../public/assets/fonts/cmu.typewriter-text-regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "CourierCyr";
  src:
    url("../public/assets/fonts/couriercyr.woff2") format("woff2"),
    url("../public/assets/fonts/couriercyr.ttf") format("truetype");
}

@font-face {
  font-family: "Symbols Nerd Font";
  src:
    url("../public/assets/fonts/Symbols-2048-em Nerd Font Complete.woff2")
      format("woff2"),
    url("../public/assets/fonts/SymbolsNerdFont-Regular.ttf") format("truetype"),
    url("../public/assets/fonts/SymbolsNerdFontMono-Regular.ttf")
      format("truetype");
}

.mermaid * {
  font-family: "CMU-Typewriter", "Symbols Nerd Font", monospace !important;
}

:root {
  font-size: 13px;
  --slidev-code-font-family:
    "CMU-Typewriter", "Symbols Nerd Font", monospace !important;
  --alchemmist-footer-height: 0px;
}

.slidev-note :not(pre) > code,
.slidev-layout :not(pre) > code {
  padding: 0.01rem 0.3rem !important;
}

.mono-text {
  font-family: var(--slidev-code-font-family);
  font-size: 0.9em;
}

.slidev-layout.cover h1,
.slidev-layout.intro h1 {
  font-size: 2.5rem !important;
}

.slidev-layout.intro {
  font-size: 1.25rem;
}

.slidev-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  opacity: 0.5;
}

.slidev-footer-left {
  display: flex;
  align-items: center;
}

.slidev-footer-logo {
  height: 1.5rem;
}

.slidev-footer-right {
  font-size: 0.9rem;
  color: var(--slidev-footer-color, #555);
}

.left-image img {
  object-fit: cover;
  object-position: left;
}

.slidev-layout li {
  line-height: 1.2em !important;
}

.slidev-layout ul {
  list-style: square;
  gap: 0.9em;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

ol li {
  margin: 1em 0;
}

.slidev-layout a:has(code) {
  border-width: 0;
}

.slidev-layout a code {
  text-decoration: underline solid 2px;
}
