name: Deploy Slidev Example to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ---------- PNPM ----------
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      # ---------- Разрешаем postinstall скрипты ----------
      - name: Enable pnpm build scripts
        run: pnpm config set enable-pre-post-scripts true

      # ---------- Установка зависимостей без lockfile ----------
      - name: Install example dependencies
        working-directory: example
        run: pnpm install

      # ---------- Проверка темы ----------
      - name: Check installed theme
        working-directory: example
        run: pnpm list slidev-theme-alchemmist

      # ---------- Сборка Slidev ----------
      - name: Build slides
        working-directory: example
        run: pnpm slidev build --base /${{ github.event.repository.name }}/ --out ../dist

      # ---------- Pages ----------
      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
